:root{
    --cor1:#0B1226;
    --cor2:#023059;
    --cor3:#034C8C;
    --cor4:#5CF2F2;
    --cor5:#0388A6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
